[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:santaclose/imgui.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:santaclose/glfw.git
[submodule "vendor/ImGuiColorTextEdit"]
	path = vendor/ImGuiColorTextEdit
	url = git@github.com:santaclose/ImGuiColorTextEdit.git
